.announce-top {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 24px;
}

.announce-title {
    font-size: 36px;
    font-weight: 500;
    line-height: 51px;
    letter-spacing: 0em;
    margin: 0;
}

.announce-location {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    margin-top: 0;
}

/*host part */

.host {
    display: flex;
    gap: 10px;
    align-items: center;
}

.host-introducing > h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: right;
    margin-top: 0;
    margin-bottom: 0;
}

.host-thumbnail {
    width: 64px;
    height: 64px;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 10px;
}

.host-thumbnail > img {
    width: 100%;
}

@media (max-width: 600px) {
    .announce-top {
        flex-direction: column;
        margin-top: 16px;
    }
    .announce-title {
        font-size: 18px;
        line-height: 26px;
        text-align: left;
    }
    .announce-location {
        font-size: 14px;
        line-height: 20px;
        text-align: left;
    }
    .host {
        margin-top: 16px;
    }
    .host-second-part {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .host-introducing > h4 {
        font-size: 12px;
        line-height: 17px;
    }
    .host-thumbnail {
        width: 32px;
        height: 32px;
    }
}
