.banner {
    height: 223px;
    background: black;
    border-radius: 20px;
    overflow: hidden;
}

.banner > img {
    object-fit: cover;
    opacity: 0.5;
    width: 100%;
    object-position: 0px -300px;
}

.banner-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text > h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 68px;
    letter-spacing: 0em;
}

@media (max-width: 600px) {
    .banner {
        height: 111px;
        margin-left: 0.8em;
        margin-right: 0.8em;
    }
    .banner-text > h2 {
        font-size: 24px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
    }
    .banner-text {
        width: 217px;
        margin-left: 16px;
    }
}
