.carousel {
    display: grid;
    position: relative;
    isolation: isolate;
    --carousel-height: 415px;
    --carousel-width: 100%;
    width: var(--carousel-width);
    height: var(--carousel-height);
}

.slide {
    width: var(--carousel-width);
    height: var(--carousel-height);
    border-radius: var(--border-radius-2);
    object-fit: cover;
}

[data-slide="show"] {
    display: block;
}

[data-slide="hide"] {
    display: none;
}

[data-action$="slide"] {
    position: absolute;
    margin-inline: 10px;
    width: 48px;
    height: 80px;
    mask-size: cover;
    background-color: var(--light);
}

[data-action="next-slide"] {
    inset: 40% 0 0 auto;
    mask: url("../assets/next-cursor.svg") no-repeat;
}

[data-action="previous-slide"] {
    inset: 40% auto;
    mask: url("../assets/previous-cursor.svg") no-repeat;
}

:is([data-action$="slide"]:focus, [data-action$="slide"]:hover) {
    background-color: var(--light);
}

@media (max-width: 600px) {
    .carousel {
        height: 255px;
    }
    .slide {
        height: 255px;
    }
}
