.collapse {
    border-radius: 10px;
    overflow: hidden;
}

.collapse-btn {
    display: flex;
    align-items: center;
    border: none;
    height: 52px;
    border-radius: 10px;
    cursor: pointer;
    padding: 0 10px;
}

.collapse-item {
    list-style: none;
}

.collapse-body[aria-expanded="true"] {
    display: block !important;
}

.collapse-body[aria-expanded="false"] {
    display: none !important;
}

.collapse-body {
    padding: 10px;
}

.collapse-body > ul {
    padding: 0;
}

.collapse-item,
.collapse-text {
    font-size: 18px;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: 0em;
}

.collapse-arrow-false,
.collapse-arrow-true {
    margin-right: 20px;
}

.collapse-arrow-false {
    transform: rotate(180deg);
}

@media (max-width: 600px) {
    .collapse-btn {
        font-size: 13px;
        height: 30px;
    }
    .collapse-btn > img {
        height: 15px;
        overflow: hidden;
    }
    .collapse-item,
    .collapse-text {
        font-size: 13px;
        line-height: 19px;
    }
}
