@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
    font-family: "Montserrat", sans-serif;
}

/*width*/

.max-width {
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.w-100 {
    width: 100% !important;
}

.w-50 {
    width: 50%;
}

/*positions*/

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

/*text*/

.text-center {
    text-align: center;
}

/*flexbox*/

.d-flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.justify-end {
    justify-content: end;
}

.justify-center {
    justify-content: center;
}

.justify-space-b {
    justify-content: space-between;
}

/*page*/

.page-normalization {
    min-height: 75.5vh;
}

@media (max-width: 600px) {
    .w-50 {
        width: 100%;
    }
}
