.logement-body {
    display: flex;
    gap: 88px;
}

@media (max-width: 600px) {
    .logement-page {
        padding-left: 0.8em;
        padding-right: 0.8em;
    }
    .logement-body {
        flex-direction: column;
        gap: 20px;
        margin-bottom: 30px;
    }
}
